* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.carousel-item_1 {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 90vh;
}
